{
  "trailingComma": "es5",
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^.*\\.(css|scss)$", "<THIRD_PARTY_MODULES>", "^@aws-sdk/(.*)$", "^@[^/]", "^@/", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
